@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Quando:400");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61e71de13a5227bc337bfb2d.61e71de3422bdc268e3417e1.slfBJxm.rcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
